<!DOCTYPE html>
<html>
<head>

    <title>SKRL</title>
    <link rel="stylesheet"  href="/assets/css/miestilo.css">

</head>
<body>
    <h1>Bienvenidos a Taller de Programación I</h1>

    <img class="img-logo" src="../Views/Skorial png negro.png" alt="Logo Skorial">


<nav class="nav-menu">
<ul>
    <li><a href="C:\xampp\htdocs\proyecto_RodriguezAntorena_Milo\app\Views\principal.html">Inicio</a></li>
    <li><a href="https://www.youtube.com/">yutu</a></li>
    <li><a href="https://www.google.com/">gugl</a></li>
</ul>
</nav>
<div class="div-estilo">
<p class= "clase-p", style="background-color: rgb(255, 202, 182);" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magnam eos quas, veniam iusto quos? Sunt quia mollitia sequi itaque, rem minima .</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repudiandae eius optio assumenda unde saepe nihil sed, aut quos perferendis pariatur id vitae voluptates voluptatum, commodi ut voluptatibus fugiat rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, delectus et nisi corporis harum minima est maiores? Reiciendis, quod eius quae ea rerum sed autem doloremque, illo deserunt, quisquam consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam minima fugit alias, cupiditate quae id tempora fuga, illo rem repellat est dolorum rerum obcaecati sed nulla. Obcaecati soluta cum saepe?</p>
</div>
</body>
</html>